/COP3502/Temperatures/build/
/COP3502/Temperatures/dist/
/COP3502/Temperatures/nbproject/private/
/COP3502/Week 2 HW/build/
/COP3502/Week 2 HW/dist/
/COP3502/Week 2 HW/nbproject/private/
/COP3502/Week 2 HW/HW Week 2/nbproject/private/
/COP3502/Week 2 HW/Week 2 HW/nbproject/private/
/COP3502/Week 2 HW/Week 2 HW/build/